@font-face {
    font-family: 'moderne_sansregular';
    src: url('./webfontkit/moderne_sans-webfont.woff2') format('woff2'),
         url('./webfontkit/moderne_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'moderne_sansregular';
  margin: 0;

  position: relative;
}

h2 {
  font-size: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  height: 40px;
  opacity: 0.5;
  z-index: 2;
}

center {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  height: 40px;
  opacity: 0.5;
  z-index: 2;
  margin-top: -60px;
}

.button {
  width: 10em;
  height:100%;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: black;
  border: 2px solid white;
  border-radius: 1.2em;
  color: white;
}

.button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

span {
  font-family: 'moderne_sansregular';
  font-size: 15px;
}

span.arrow {
  font-size: 20px;
}

canvas {
  margin-top: -45px;
  z-index: 1;
}

.text-link {
  text-decoration: none;
  color: #2460c1;
}

button:focus {
  outline: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin-left: 25%;
    background-color: gray;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-top: 10px;
    border: 1px solid #888;
    width: 45%; /* Could be more or less, depending on screen size */
    border-radius: 1em;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.links {
  display: flex;
  justify-content: center;
}
